<div class="gallery-container">
    <div class="header">
        <h1>Let's start a new trip!</h1>
        <img src="../../../assets/mat-avatar.svg" alt="">
    </div>
    <div class="carausel">
        <div class="img-div">
            <img class="carausel-img" [src]="selectedImg" alt="carausal-image">
        </div>
        <div class="dots-div">
            <div class="dots-mini-div">
                <div class="outter-dot" [class.is-selected-dot]="index===0">
                    <div class="dot" (click)="selectImg(0)"></div>
                </div>
                <div class="outter-dot" [class.is-selected-dot]="index===1">
                    <div class="dot" (click)="selectImg(1)"></div>
                </div>
                <div class="outter-dot" [class.is-selected-dot]="index===2">
                    <div class="dot" (click)="selectImg(2)"></div>
                </div>
                <div class="outter-dot" [class.is-selected-dot]="index===3">
                    <div class="dot" (click)="selectImg(3)"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid-container" >
        <app-gallery-item *ngFor="let item of galleryItems" [galleryItem]="item" (click)="selectItem(item)"></app-gallery-item>
    </div>
    <div class="gallery-footer">
        <img src="../../../assets/recent.svg" alt="recent-icon">
        <img src="../../../assets/favourites.svg" alt="favourites-icon">
        <img src="../../../assets/nearby.svg" alt="nearby-icon">
    </div>
</div>
