<div class="input-div">
    <label for="{{id}}" [class.is-focused]="isFocused" [class.is-success]="control.value.length > 0 && control.touched" [class.error]="control.errors && control.touched">{{label}}</label>
    <img [src]="imgUrl" alt="username-icon">
    <input
        [class.input-focus]="control.value.length > 0 && isFocused" 
        type="{{type}}" 
        id="{{id}}"
        [formControl]="control"
        name="{{name}}"
        (click)="onClick()"
        (focusout)="onLeave()"
        >
</div>
<p *ngIf="control.hasError('required') && control.touched" style="color: red">Required field!</p>
<p *ngIf="control.hasError('pattern')" style="color: red">Not valid characters!</p>
<p *ngIf="control.hasError('minlength') && control.touched" style="color: red">You must enter atleast 6 characters!</p>
