.login-main {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-image: url('https://images.pexels.com/photos/1123982/pexels-photo-1123982.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    /* background-position: cover; */
    background-size: cover;
    background-repeat: no-repeat;
}

.login-panel {
    background-color: white;
    position: absolute;
    width: 100%;
    top: 167px;
    padding-top: 48px;
    padding-bottom: 48px;
}


h1 {
    /* position: absolute;
    width: 61px;
    height: 16px;
    left: calc(50% - 61px/2 + 1px);
    top: 207px; */

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;

    margin-bottom: 48px;
    /* identical to box height, or 67% */

    text-align: center;

    /* custom/secondary */

    color: #424242;
}

form {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 24px;

    /* position: absolute;
    top: 264px; */
    width: 90%;
    margin: 0 23px;

}

p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    margin: 0;
    /* identical to box height, or 183% */

    letter-spacing: 0.3px;

    /* custom/primary */

    color: #3F51B5;
}



