<div class="login-main">
    <div class="login-panel">
        <h1>Login</h1>
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <app-input [control]="username" [type]="'text'" [id]="'username'" [controlName]="'username'" [name]="'username'" [imgUrl]="'../../../assets/Property 1=user.svg'" [label]="'Username'"></app-input>
            <app-input [control]="password" [type]="'password'" [id]="'password'" [controlName]="'password'" [name]="'password'" [imgUrl]="'../../../assets/Property 1=Eye.svg'" [label]="'Password'"></app-input>
            <app-button [type]="'submit'" [htmlText]="'LOGIN'"></app-button>
            <p>Not account yet? <a href="#">Register</a></p>        
        </form>
    </div>
</div>