/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: Roboto;
    src: url(assets/font/Roboto/Roboto-Regular.ttf) format("opentype");
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
